In [1]:
print('hello  new world')

hello world

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from IPython import display
%matplotlib inline
print('import success')

import success

In [25]:
df_1 = pd.read_csv('./survey_results_public.csv')
df_2 = pd.read_csv('./ramen-ratings.csv')

In [10]:
print(df_2)

      Review #           Brand  \
0         2580       New Touch
1         2579        Just Way
2         2578          Nissin
3         2577         Wei Lih
4         2576  Ching's Secret
...        ...             ...
2575         5           Vifon
2576         4         Wai Wai
2577         3         Wai Wai
2578         2         Wai Wai
2579         1        Westbrae

                                                Variety Style   Country Stars  \
0                             T's Restaurant Tantanmen    Cup     Japan  3.75
1     Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack    Taiwan     1
2                         Cup Noodles Chicken Vegetable   Cup       USA  2.25
3                         GGE Ramen Snack Tomato Flavor  Pack    Taiwan  2.75
4                                       Singapore Curry  Pack     India  3.75
...                                                 ...   ...       ...   ...
2575  Hu Tiu Nam Vang ["Phnom Penh" style] Asian Sty...  Bowl   Vietnam   3.5
2576                     Oriental Style Instant Noodles  Pack  Thailand     1
2577                                     Tom Yum Shrimp  Pack  Thailand     2
2578                               Tom Yum Chili Flavor  Pack  Thailand     2
2579                                         Miso Ramen  Pack       USA   0.5

     Top Ten
0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
...      ...
2575     NaN
2576     NaN
2577     NaN
2578     NaN
2579     NaN

[2580 rows x 7 columns]

In [26]:
print(df_1.head())

   Review #           Brand  \
0      2580       New Touch
1      2579        Just Way
2      2578          Nissin
3      2577         Wei Lih
4      2576  Ching's Secret

                                             Variety Style Country Stars  \
0                          T's Restaurant Tantanmen    Cup   Japan  3.75
1  Noodles Spicy Hot Sesame Spicy Hot Sesame Guan...  Pack  Taiwan     1
2                      Cup Noodles Chicken Vegetable   Cup     USA  2.25
3                      GGE Ramen Snack Tomato Flavor  Pack  Taiwan  2.75
4                                    Singapore Curry  Pack   India  3.75

  Top Ten
0     NaN
1     NaN
2     NaN
3     NaN
4     NaN

In [27]:
num_rows = df_1.shape[0]
num_cols = df_1.shape[1]

In [28]:
print(num_rows)
print(num_cols)

2580
7

In [30]:
no_nulls = set(df_2.columns[df_2.isnull().mean()==0])

In [31]:
print(no_nulls)

{'Review #', 'Country', 'Stars', 'Variety', 'Brand'}

In [ ]:
most